<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org/">
    <head>
        <title>Angular Calculate</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="css/app.css" rel="stylesheet"></link>
        <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'></link>
        <link href="css/reset.css" rel="stylesheet"/>
    </head>
    <body ng:controller="AppCtrl" ng:unhide>
        
        <div id="left_panel" class="col">
            <div ng:controller="HistoryCtrl">
                <button ng:click="undo()" ng:disabled="{{undos.$count() == 0}}">UNDO</button>
                <button ng:click="redo()" ng:disabled="{{redos.$count() == 0}}">REDO</button>
                <div id="history_nav">
                    <ul class="angular-unhide">
                        <li class="hisotry-item redo" ng:click="goToStep(redo)" ng:repeat="redo in redos.concat().reverse()">{{redo.input | mathSymbol}}</li>
                        <li class="hisotry-item undo" ng:click="goToStep(undo)" ng:repeat="undo in undos.concat().reverse()">{{undo.input | mathSymbol}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="calculator" ng:controller="CalculatorCtrl" class="col">
            <div ng:controller="DisplayCtrl">
                <div id="digital_desplay" >
                    <p id="disp_digits" class="angular-unhide">{{digits}}</p>
                    <p id="disp_operator" class="angular-unhide">{{operator | mathSymbol}}</p>
                </div>
            </div>
            <div id="keypad" class="clearfix" ng:controller="KeyPadCtrl">
                <div id="numpad" class="buttongroup">
                    <button ng:click="input(7)">7</button>
                    <button ng:click="input(8)">8</button>
                    <button ng:click="input(9)">9</button>
                    <button ng:click="input(4)">4</button>
                    <button ng:click="input(5)">5</button>
                    <button ng:click="input(6)">6</button>
                    <button ng:click="input(1)">1</button>
                    <button ng:click="input(2)">2</button>
                    <button ng:click="input(3)">3</button>
                    <button ng:click="input(0)">0</button>
                    <button ng:click="input('00')">00</button>
                    <button ng:click="input('.')">.</button>
                </div>
                <div id="operators" class="buttongroup">
                    <button ng:click="input('+/-')">&plusmn;</button>
                    <button ng:click="input('C')">C</button>
                    <button ng:click="input('-')">&minus;</button>
                    <button ng:click="input('*')">&times;</button>
                    <button class="twocolbt" ng:click="input('+')">+</button>
                    <button ng:click="input('/')">&divide;</button>
                    <button ng:click="input('=')">=</button>
                </div>
            </div>
        </div>
      <script src="http://www.google-analytics.com/ga.js" async="" type="text/javascript"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
      <script>window.jQuery || document.write("<script src='js/libs/jquery.min.js'>\x3C/script>")</script>
      <script src="lib/angular/angular.js" ng:autobind></script>
      <script src="js/commands.js"></script>
      <script src="js/services.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/widgets.js"></script>
    </body>
</html>

